.background{
    background-color: #343465;
    width : 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: #211e46;
    border-radius: 1em;
    overflow: hidden;
}